/**
Project: SlapEm Happy
File: style.css
Date: March 25, 2015
By: Scott Henley
Description:
Style sheet for SlapEm Happy
**/

body {
  background-color: gray; /* set the webpage background *
  /* for a custom cursor use --> cursor: url('assets/game_play/*filename*.png'), default;*/
  padding: 0px;
  margin: 0px; 
}

div.gameDiv { 
}